Source: screenshot-tool
Section: graphics
Priority: extra
Maintainer: Cody Garver <cody@elementary.io> 
Build-Depends: debhelper (>= 9),
               desktop-file-utils,
               gettext,
               libcanberra-dev,
               libgranite-dev,
               libgtk-3-dev (>= 3.10),
               libgdk-pixbuf2.0-dev,
               meson,
               valac (>= 0.20)
Standards-Version: 3.9.6
Homepage: https://launchpad.net/screenshot-tool
Vcs-Bzr: lp:screenshot-tool
Vcs-Browser: https://code.launchpad.net/~elementary-apps/screenshot-tool/trunk

Package: screenshot-tool
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Screenshot utility
 A simple program screenshot utility for elementary OS.

Package: screenshot-tool-dbg
Architecture: any
Section: debug
Priority: extra
Depends: screenshot-tool (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Enhances: screenshot-tool
Description: Screenshot utility (debugging symbols)
 A simple program screenshot utility for elementary OS.
 .
 This package contains debugging symbols for screenshot-tool.
