Source: io.elementary.screenshot
Section: graphics
Priority: optional
Maintainer: elementary, Inc. <builds@elementary.io> 
Build-Depends: debhelper (>= 10.5.1)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/screenshot

Package: io.elementary.screenshot
Architecture: any
Depends: flatpak, ${misc:Depends}
Breaks: screenshot-tool
Replaces: screenshot-tool
Description: Screenshot utility
 A simple program screenshot utility for elementary OS.

Package: screenshot-tool
Architecture: any
Depends: io.elementary.screenshot, ${misc:Depends}
Section: oldlibs
Priority: optional
Description: transitional dummy package
    This is a transitional dummy package. It can safely be removed.
