#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@ 

override_dh_strip:
	dh_strip --dbg-package=screenshot-tool-dbg

override_dh_install:
	dh_install --fail-missing
