[Desktop Entry]
Type=Application
Name=Screenshot
Comment=Save images of your screen or individual windows
Exec=screenshot
Icon=applets-screenshooter
Terminal=false
X-GNOME-Gettext-Domain=screenshot
Categories=Utility;Office;
Keywords=Snapshot;Screenshot;
Actions=AboutDialog;

[Desktop Action AboutDialog]
Name=About Screenshot
Exec=screenshot -a
